#giphy-container {
	.giphy-search {
		width: 100%;
		display: inline-block;
		margin-bottom: 10px;
		@include placeholderFontColor($grey);
		input {
			width: 100%;
			@include textInputStyles;
		}		
	}
	ul#giphy-list {
		list-style: none;
		padding: 0;
		margin: 10px 0;
		@include display-flex();
		@include flex-wrap(wrap);
		@include justify-content(center);
		@include align-items(center);
		li {
			width: 50%;
			padding: 0 5px;
			@media screen and (min-width: 1024px) {
				width: 33.33%;
			}
			img {
				width: 100%;
				opacity: 1;
				@include transition(opacity 0.3s ease);
				&:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}	
	}
	.giphy-list-container {
		position: relative;
		display: inline-block;
		#copied-notification {
			text-align: center;
			background: $white;
			width: 200px;
			height: 30px;
			position: absolute;
			margin: auto;
			right: 0;
			left: 0;
			display: block;
			box-shadow: 0 3px 10px rgba(0,0,0, 0.35);
			border-radius: 5px;
			@include transition(all 0.3s ease);
			opacity: 0;
			@include transform(translateY(0%));
			&.show-copied {
				opacity: 1;
				@include transform(translateY(-30%));
			}
		}
	}
}