#giphy-container {
	.giphy-search {
		width: 100%;
		display: inline-block;
		margin-bottom: 10px;
		@include placeholderFontColor($grey);
		input {
			border: 2px solid rgba($ltgrey, 1);
			border-radius: 5px;
			background: $white;
			width: 100%;
			padding: 5px 10px;
			color: $dkgrey;
		}		
	}
	ul#giphy-list {
		list-style: none;
		padding: 0;
		margin: 10px 0;
		@include display-flex();
		@include flex-wrap(wrap);
		@include justify-content(center);
		@include align-items(center);
		li {
			width: 50%;
			padding: 0 5px;
			@media screen and (min-width: 1024px) {
				width: 33.33%;
			}
			img {
				width: 100%;
			}
		}	
	}
}