$white: #FFFFFF;
$offWhite: #EFEFEF;
$ltgrey: #DDDDDD;
$mdgrey: #888888;
$grey: #B2B2B2;
$dkgrey: #787878;
$black: #000000;
$teal: #49BF9D;
$orange: #FF9800;
$purple: #673AB7;
$green: #66BB6A;
$ltgreen: #66BB6A;
$blue: #64B5F6;
$blueGrey: #78909C;
$dkBlueGrey: #607D8B;

$gitHub: #4183C4;
$linkedIn: #0976B4;
$googlePlus: #DD4B39;
$faceBook: #3B5998;
$instagram: #3F729B;